<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
   </script>

   <script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>


<body>


<!-- GOOGLE PLUS SIGN IN BUTTON-->
<!-- datascope is use to see the open id email or username-->
<!-- data-clientid is the id google gave you when you regustered web app on console.developers.google.com-->
<!-- data-redirecturi sets a post message enable the onetime use code flow-->
<!-- offline means server can make requests to google API server even if user is not logged in-->
<!-- cookiespolicy attributs, determines the scope of URLs that can access the cookie-->
<!-- callback: when user grants our app to access their profile, then this call back method is called and given onetime use code along with the access token-->
<!-- approvalprompt set to force means user has to login wach time we visit the login page and doesnt check if they already login, this is useful in debug but not good after-->

  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="65721030056-ddgblohponjaq2akhflgbo41vk20lqi7.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>




<!--END GOOGLE PLUS SIGN IN BUTTON -->

</body>

</html>
